{% extends "templates/base.html" %}-->

{% block header %}OPS: Online Problem Sharer{% endblock %}
{% block header_description %}232명의 사용자가 작성한 1,329개의 문제를 풀어보세요!　■{% endblock %}

{% block article %}
<article>
    <div class="inset main-board">
        <nav>
            <div class="search">
                <p>문제 찾아보기</p>
            </div>
            <div class="category">
                <p>정답이 있는 문제</p>
                <ul>
                    <li class="category-selected">수학</li>
                    <li>물리학</li>
                    <li>화학</li>
                    <li>논리학</li>
                </ul>
            </div>
            <div class="category">
                <p>정답이 없는 문제</p>
                <ul>
                    <li>철학</li>
                    <li>물리학</li>
                    <li>화학</li>
                    <li>논리학</li>
                </ul>
            </div>
        </nav>
        <div class="board" style="padding-bottom: 1.5rem;">
            <section class="problem-board">
                <div class="section-title">
                    <h3 class="section-name">문제 풀기</h3>
                    <div class="section-more">더 보기</div>
                </div>
                {% for problem in problems %}
                    <!--suppress HtmlUnknownTarget -->
                    <a href="/problem/{{ problem.code }}">
                        <div class="post">
                            <span class="subject">선형대수학</span>
                            <span class="problem-code">#{{ problem.code }}</span>
                            <span class="problem-title">{{ problem.title }}</span>
                            <span class="rate">23 ◇</span>
                        </div>
                    </a>
                {% endfor %}
            </section>
        </div>
    </div>
</article>
{% endblock %}