{% extends "templates/base.html" %}

{% block head %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js">
    MathJax.Hub.Config({
        extensions: ["tex2jax.js", "TeX/AMSmath.js", "TeX/AMSsymbols.js"],
        jax: ["input/TeX", "output/HTML-CSS"],
        tex2jax: {
            inlineMath: [['$', '$'], ["\\(", "\\)"]],
            displayMath: [['$$', '$$'], ["\\[", "\\]"]],
        },
        "HTML-CSS": {availableFonts: ["TeX"]}
    });
</script>
{% endblock %}

{% block header %}문제 {{ problem_code }}{% endblock %}
{% block header_description %}
    {{ title }} - 작성자 <!--suppress HtmlUnknownTarget --> <a href="/profile/{{ author_email }}">{{ author_email }}</a>
{% endblock %}

{% block article %}
<!--suppress HtmlUnknownTarget -->
<article>
    <div class="inset">
        {% if is_problem %}
            <h2>개요</h2>
            <div class="board">
                <p>{{ content }}</p>
            </div>
            <h2>제출</h2>
            <div class="board">
                <form action="" method="GET">
                    <p>
                        <label for="answer">
                            <input type="text" id="answer" class="long-text" placeholder="정답" autocomplete="off">
                        </label>
                    </p>
                    <p>
                        <input type="submit">
                    </p>
                </form>
            </div>
            <h2>댓글</h2>
            <div class="board">
                <p class="comment">
                    <span class="username">Sch__</span>
                    -
                    $A$가 $\left[ \begin{matrix} 1 & 2 \\ 3 & 4 \end{matrix} \right]$니까 $A^{-1}$은 $\frac{1}{2} \left[
                    \begin{matrix} 4 & -2 \\ -3 & 1 \end{matrix} \right]$이겟네요~~
                    <span class="comment-indicator comment-correct">정답</span>
                    <span class="comment-date">
                        <script>document.write(new Date().toString());</script>
                    </span>
                </p>
                <p class="comment">
                    <span class="username">junhg0211</span>
                    -
                    집에가고싶어
                    <span class="comment-indicator comment-not-yet">미제출</span>
                    <span class="comment-date">
                        <script>document.write(new Date().toString());</script>
                    </span>
                </p>
                <p class="comment">
                    <span class="username">guito_o</span>
                    -
                    개어렵내요 ;;
                    <span class="comment-indicator comment-incorrect">오답</span>
                    <span class="comment-date">
                        <script>document.write(new Date().toString());</script>
                    </span>
                </p>
            </div>
            <h2>토론</h2>
            <div class="board">
                <p><!--suppress HtmlUnknownTarget -->
                    <a href="/profile/guito_o@gmail.com">guito_o</a>
                    <script>document.write(new Date().toString());</script>
                    #1 - 이거 좀 에바 아니냐
                </p>
                <p><!--suppress HtmlUnknownTarget -->
                    <a href="/profile/junhg0211@gmail.com">junhg0211</a>
                    <script>document.write(new Date().toString());</script>
                    #2 - #1 아님 ㅋㅋ
                </p>
                <form action="">
                    <p>
                        <label for="discussion">
                            <input type="text" id="discussion" class="long-text" placeholder="토론" autocomplete="off">
                        </label>
                    </p>
                    <p>
                        <input type="submit">
                    </p>
                </form>
            </div>
        {% else %}
            <h2>문제 없음!</h2>
            <p>문제가 없습니다. <a href="/">이곳</a>을 눌러서 메인 화면으로 돌아가기</p>
        {% endif %}
    </div>
</article>
{% endblock %}