{{ template "base.html" }}

{{ define "article" }}
<!--suppress HtmlUnknownTarget -->
<article>
    <div class="inset">
        <h2>개요</h2>
        <div class="board">
            <p>벡터 $\mathbb e = (1, 2)$와 두 행렬 $A = \left[ \begin{matrix} 1 & 3 & 5 \\ -2 & 3 & 7 \end{matrix} \right], B = \left[ \begin{matrix} 1 & 7 & 9 \\ 5 & 0 & -2 \\ 8 & 3 & 0 \end{matrix} \right]$에 대해 $AB$를 구하시오. 사실 뻥임ㅋ $A = \left[ \begin{matrix} 1 & 2 \\ 3 & 4 \end{matrix} \right]$이고 $B = \left[ \begin{matrix} 5 & 6 \\ 7 & 8 \end{matrix} \right]$일 때 $AB$ 구하셈ㅋㅋㅋ</p>
        </div>
        <h2>제출</h2>
        <div class="board">
            <form action="" method="GET">
                <p>
                    <label for="answer"><input type="text" id="answer" class="long-text" placeholder="정답" autocomplete="off"></label>
                </p>
                <input type="submit">
            </form>
        </div>
        <h2>댓글</h2>
        <div class="board">
            <p class="comment">
                <span class="username">Sch__</span>
                - 
                $A$가 $\left[ \begin{matrix} 1 & 2 \\ 3 & 4 \end{matrix} \right]$니까 $A^{-1}$은 $\frac{1}{2} \left[ \begin{matrix} 4 & -2 \\ -3 & 1 \end{matrix} \right]$이겟네요~~
                <span class="comment-indicator comment-correct">정답</span>
                <span class="comment-date">
                    <script>document.write(new Date().toString());</script>
                </span>
            </p>
            <p class="comment">
                <span class="username">junhg0211</span>
                - 
                집에가고싶어
                <span class="comment-indicator comment-not-yet">미제출</span>
                <span class="comment-date">
                    <script>document.write(new Date().toString());</script>
                </span>
            </p>
            <p class="comment">
                <span class="username">guito_o</span>
                - 
                개어렵내요 ;;
                <span class="comment-indicator comment-incorrect">오답</span>
                <span class="comment-date">
                    <script>document.write(new Date().toString());</script>
                </span>
            </p>
        </div>
        <h2>토론</h2>
        <div class="board">
            <p><a href="/profile/guito_o@gmail.com">guito_o</a> <script>document.write(new Date().toString());</script> #1 - 이거 좀 에바 아니냐</p>
            <p><a href="/profile/junhg0211@gmail.com">junhg0211</a> <script>document.write(new Date().toString());</script> #2 - #1 아님 ㅋㅋ</p>
            <form action="">
                <p>
                <label for="discussion">
                    <input type="text" id="discussion" class="long-text" placeholder="토론" autocomplete="off">
                </label>
                </p>
                <input type="submit">
            </form>
        </div>
    </div>
</article>
{{end}}